.conteiner{
    display: grid;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.paginas-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    box-sizing: border-box;
    padding: 2%;
}

.paginas-blog img {
    width: 100%;
    height: 250px;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 10px;
}

.titulo-detalle {
    margin: 1%;
    width: 100%;
    line-height: 1em;
    background-color: #ffa3b2;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat Light';
    border-radius: 5px;
}


/* Escritorio grande */
@media (min-width: 1200px) {
    .conteiner {
        grid-template-columns: repeat(3, 1fr);
    }

    .paginas-blog {
        width: auto;
        margin: 0;
    }
}

/* Tablet y Escritorio pequeño */
@media (min-width: 768px) and (max-width: 1199.98px) {
    .conteiner {
        grid-template-columns: repeat(2, 1fr);
    }

    .paginas-blog {
        width: auto;
        margin: 0;
    }
}

/* Móvil */
@media (max-width: 767.98px) {
    .conteiner {
        grid-template-columns: 1fr;
    }

    .paginas-blog {
        width: 90%;
        margin: 15px auto;
    }

    .paginas-blog img {
        height: 200px;
    }

    .titulo-detalle {
        font-size: 16px;
        padding: 10px;
    }
}

a {
    color: white;
}

#Blog {
    text-align: center;
    font-family: 'Eyesome Scrip';
    font-size: 65px;
}

.contenido {
    flex: 1;
    padding: 30px;
    box-sizing: border-box;
    text-align: justify;
}


.contenido ul {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*margin-left: 200px;*/
    gap: 10px;

}

.widget {
    margin-bottom: 20px;
}


.contenido article {
    margin-bottom: 40px;
}

.video-container {
    width: 100%;
    max-width: 400px; /* Ancho máximo reducido para el video */
    padding-bottom: 42%; /* Proporción de aspecto 16:9 para el video */
    position: relative;
    overflow: hidden;
    margin: 0 auto 50px; /* Centrar el video y agregar margen inferior */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contenido {
    margin: 100px; /* Margen alrededor de todo el contenido */
    padding: 20px; /* Opcional: Añadir padding para un espacio adicional interno */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total del contenido */
    text-align: justify;
}

.contenido img {
    display: block;
    margin: 20px auto; /* Centra las imágenes y añade un margen superior e inferior */
}


.contenido p,
.contenido h2,
.contenido h4 {
    margin: 20px 0; /* Margen superior e inferior de 20px */
   /* text-align: center;*/
    justify-content: left;
}
.contenido h3{
    text-align: center;
}

.contenido section {
    margin-bottom: 20px; /* Añadir margen inferior a cada sección */
}

section{
    padding: 10px;
}