.cont {
    display: grid;
    grid-template-columns: 1fr; /* Por defecto una columna para dispositivos pequeños */
    padding: 20px;
    gap: 20px;
    margin: 0 auto; /* Centrar el contenido */
    max-width: 1000px; /* Ancho máximo para el contenedor */
}

/* Estilos para el formulario */
.formulario {
    padding: 30px;
    width: 350px;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #dd7888;
    font-family: 'Montserrat Light', sans-serif;
}

.formulario h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.Control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #dd7888;
    box-sizing: border-box;
}

.formulario .boton {
    width: 100%;
    background: #dd7888;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    box-shadow: 0px 0px 5px #f4c9c9;
}

fieldset {
    margin: 20px;
    border: 2px solid #dd7888;
    padding: 10px 20px;
}

textarea {
    resize: none;
    min-width: 90px;
    min-height: 100px;
    }
    
    .combo{
    padding: 10px 0px;
    }

/* Estilos para la información de contacto */
.info-cont {
    padding: 30px;
    text-align: center;
    font-family: 'Montserrat Light', sans-serif;
}

.info-cont h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.info-cont .data {
    margin-top: 10px;
}

.info-cont .data p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    padding: 5px;
}

.info-cont .horario p {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

/* Media Queries */

@media (min-width: 768px) {
    .cont {
        grid-template-columns: repeat(2, 1fr);
    }

    .formulario {
        margin-top: 50px; /* Mayor margen superior para el formulario */
    }

    .info-cont {
        margin-top: 50px; /* Mayor margen superior para la información de contacto */
    }
}

