/*Formulario*/
.formulario{
    width: 350px;
    background: #FCBFC9;
    padding: 30px;
    margin-left: 70px;
    margin-top: 30px;
    border-radius: 4px;
    color: white;
    border: solid 1px lightgray;
    box-shadow: 2px 2px 5px lightgray;
    font-family: 'Montserrat Light';
    font-size: 15px;
   
}
.formulario h3{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;

}
.Control{
    width: 90%;
    /*background:#FCBFC9;*/
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #dd7888;
}
.formulario .boton{
    width: 100%;
    background: #f4c9c9;
    border: none;
    padding: 12px ;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #000;
    
}
fieldset{
    margin: 20px;
    border: 2px solid #000;
    padding: 10px 20px 20px 20px;
}

textarea{
   resize: none;
   min-width: 90px;
   min-height: 100px;



}
.radiobu{
    padding: 5px;
}