.main-content {
    padding: 1rem;
    justify-content: center;
    text-align: justify;
    margin: 0 100px; /* Centrar el contenido */
    max-width: 1200px; /* Ancho máximo para evitar que se extienda demasiado */
}

#subtitulo {
    text-align: center;
}

.contenedor h3{
    text-align: center;
    padding: 20px;
}
.nosotros-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
}

.comentario {
    border: 1px solid #ffa3b2;
    box-shadow: 2px 2px 5px #ffa3b2;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;

}

.comentario img {
    max-width: 100%;
    width: 150px;
    height: auto;
}

.cont h3 {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    justify-content: left;
}

/* celulares*/
@media (max-width: 768px) {
    .main-content {
        margin: 50px auto; 
        padding: 2rem; 
    }

    .nosotros-container {
        grid-template-columns: repeat(1, 1fr); 
    }
}
