.main-content {
    padding: 1rem;
    justify-content: center;
    text-align: justify;
    margin: 150px;
}

.nosotros-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Por defecto una columna */
    gap: 1rem;
    justify-content: center;
}

.comentario {
    border: 1px solid #ffa3b2;
    box-shadow: 2px 2px 5px #ffa3b2;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.comentario img {
    max-width: 100%;
    width: 150px;
    height: auto;
}

p, h3 {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    justify-content: left;
}


@media (min-width: 768px) {
    .main-content {
        margin: 50px; /* Centrar el contenido con margen cero */
        padding: 2rem; /* Aumentar el padding */
    }

    .nosotros-container {
        grid-template-columns: repeat(3, 1fr); /* Cambio a tres columnas en pantallas más grandes */
    }

    p, h3 {
        text-align: justify; /* Ajustar el texto justificado en pantallas más grandes */
        justify-content: center;
    }
}



